.container {
  padding: 0 2rem;
}
.gradient-bg {
  background: linear-gradient(
    135deg,
    #FFA500 10%,
    #FF8C00 20%,
    #FF7F50 30%,
    #FF6347 40%,
    #FF4500 50%
  );
}


.about-link {
  color: #FF8C00;
  font-weight: bold;
  text-decoration: none;


}
.about-link2 {
  color: #FF8C00;
  font-weight: bold;
  text-decoration: none;


}
.header-link {
  background: linear-gradient(to right, rgb(207, 99, 99), rgb(224, 110, 28), rgb(212, 111, 23), rgb(255, 143, 6), rgb(255, 102, 0), rgb(234, 23, 12), rgb(255, 68, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  font-weight: 800;
  text-decoration: none;
}
/* .header-link:hover {
  text-decoration: underline;
} */
.title {
  color: #e6782f;
  font-size: 2rem;
  font-weight: 800;
  animation: fadeIn 1s ease-in;
}
.loading {
  overflow: hidden;
  white-space: nowrap;
}

.loading::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: bottom;
  animation: loading 2s cubic-bezier(0.8, 0.5, 0.2, 1) forwards;
}

@keyframes loading {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
/* confetti animation */
@keyframes confetti {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
  }
}

.confetti {
  position: absolute;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: #f1c40f;
  box-shadow: 1px 1px 2px #888;
  animation: confetti 8s ease-in-out infinite;
}

.confetti:nth-of-type(1) {
  left: 10%;
  animation-delay: 0.5s;
}

.confetti:nth-of-type(2) {
  left: 20%;
  animation-delay: 1s;
}

.confetti:nth-of-type(3) {
  left: 30%;
  animation-delay: 1.5s;
}

.confetti:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}

.confetti:nth-of-type(5) {
  left: 50%;
  animation-delay: 2.5s;
}

.confetti:nth-of-type(6) {
  left: 60%;
  animation-delay: 3s;
}

.confetti:nth-of-type(7) {
  left: 70%;
  animation-delay: 3.5s;
}

.confetti:nth-of-type(8) {
  left: 80%;
  animation-delay: 4s;
}

.confetti:nth-of-type(9) {
  left: 90%;
  animation-delay: 4.5s;
}

/* modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  max-width: 500px;
  max-height: 500px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
